DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=1502781288141033573
DISCORD_RPC_CLIENT_ID=1502781288141033573
DISCORD_GUILD_ID=921844977200398387
G2D_SHARED_SECRET=replace-with-a-long-random-secret
PORT=3000
DISCORD_LOG_CHANNEL_ID=
WEBSITE_URL=https://ogpill.xyz
JOIN_URL=https://ogpill.xyz/join
GMOD_JOIN_URI=steam://connect/193.243.190.129:27015
